<template>
    <div class="card mt-3">
        <div class="card-body">
            <div class="card-title">
                <h3>Chat Group</h3>
                <hr>
            </div>
            <div class="card-body">
                <div class="messages" v-for="(msg, index) in messages" :key="index">
                    <p><span class="font-weight-bold">{{ msg.user }}: </span>{{ msg.message }}</p>
                </div>
            </div>
        </div>
        <div class="video-panel">
                <div class="video-panel-p">
                <div id="videoSource"></div>
            </div>
            <div class="video-panel-s">
                <div id="subSource"></div>
            </div>
            </div>
        <ul id="messages">

        </ul>
        <div class="card-footer">
            <form @submit.prevent="sendMessage">
                <div class="gorm-group">
                    <label for="user">User:</label>
                    <input type="text" v-model="user" class="form-control">
                </div>
                <div class="gorm-group pb-3">
                    <label for="message">Message:</label>
                    <input type="text" v-model="message" class="form-control">
                </div>
                <button type="submit" class="btn btn-success">Send</button>
            <button type="button" class="btn btn-primary" @click="video_call()"> video_call</button>
            </form>
        </div>

        <b-modal id="callModal" title="CallModal" hide-footer size="sm">
            <p class="my-4">Kuting qong'iroq amalga oshirilmoqda</p>
            <b-button class="mt-3" variant="outline-danger" block @click="callCancel">Close</b-button>
            <!-- <b-button class="mt-2" variant="outline-warning" block @click="toggleModal">Toggle Me</b-button> -->
        </b-modal>
    </div>
  
</template>

<script>
import io from 'socket.io-client';

import axios from 'axios';

export default {
    data() {
        return {
            user: '',
            message: '',
            OT : require('@opentok/client'),
            messages: [],
            socket : io('localhost:3001'),
            token : "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwczpcL1wvYXBpLmFza2RvY3Rvci51elwvYXBpXC9hdXRoXC9sb2dpbiIsImlhdCI6MTU3NTQ0MjU2MCwiZXhwIjoxNTc2MDQ3MzYwLCJuYmYiOjE1NzU0NDI1NjAsImp0aSI6IlhVYW5sWkxaWjFRTGU3SG8iLCJzdWIiOjQsInBydiI6Ijg3ZTBhZjFlZjlmZDE1ODEyZmRlYzk3MTUzYTE0ZTBiMDQ3NTQ2YWEiLCJvcmlnX2lhdCI6MTU3NTQ0MjU2MH0.tagBZNoyatG9WgYCjTeGPj8z-CWuerzAscLhWSo9zlE",
            webSocket:''
        }
    },
    methods: {
        sendMessage(e) {
            e.preventDefault();
            
            this.socket.emit('SEND_MESSAGE', {
                user: this.user,
                message: this.message
            });
            this.message = ''
        }
    },
    mounted() {
        this.webSocket=new WebSocket('wss://api.askdoctor.uz:9000/ws/connect?token='+this.token)

        this.socket.on('MESSAGE', (data) => {
            console.log(data)
            this.messages = [...this.messages, data];
            // you can also do this.messages.push(data)
        });
        this.webSocket.onopen = function() {
            console.log("Connection Successfully")
        }

        this.webSocket.onclose = function(event) {
            console.log("Socket Closed")
            console.log(event)
        }

        this.webSocket.onerror = function(event) {
            console.log("Error")
            console.log(event)
        }

        this.webSocket.onmessage = (msg) =>{
            console.log(msg.data,'ok')
            $("#messages").append("<li>" + msg.data + "</li>")

            var data = JSON.parse(msg.data);
            console.log(data)

            if (data.type_data == "chat") {
                if (data.action == "video_call") {
                    if (data.data.status == "CALL_WAIT") {
                        this.initVideo(data.data.api_key, data.data.session_id, data.data.token)
                    }
                }
            }

        };
    },
    methods:{

        callCancel(){
            this.$bvModal.hide('callModal')
        },
        initVideo(apiKey, sessionId, token) {
            // connect to session
            var session = OT.initSession(apiKey, sessionId);

            //var pubOptions = {videoSource: null};

            var pubOptions = { 
                videoSource: true, 
                width:150,
                height:150,
                publishAudio:true, 
                publishVideo:false
                };

            // Replace replacementElementId with the ID of the DOM element to replace:
            var publisher = OT.initPublisher("videoSource", pubOptions);

            // create publisher
            //var publisher = OT.initPublisher();
            session.connect(token, function(err) {
                // publish publisher
                session.publish(publisher);
            })

            let options = {
                    subSource:true,
                    // width: '40%',
                    // height: '40%',
                    subscribeToAudio:true, subscribeToVideo:false
                }
                // create subscriber
            session.on('streamCreated', function(event) {
                session.subscribe(event.stream, 'subSource', options);
            });
        },
         send() {
            var data = JSON.stringify({
                TypeData: "chat",
                Action: "view_message",
                data: {
                    test: $("#input").val(),
                    first: "sddfsd"
                }
            })
            this.webSocket.send(data)
        },
        video_call() {
            this.$bvModal.show('callModal')
            var data = JSON.stringify({
                type_data: "chat",
                action: "video_call",
                // action: "audio_call",
                data: {
                    recipient_id: 16,
                    chat_id: 17,
                    status: "CALL"
                }
            })
            console.log(data)
            this.webSocket.send(data)
        }
    }
}
</script>

<style>
.video-panel-p{
    position: absolute;
    z-index: 999;
    top: 1em;
    left: 1em;
}
.video-panel-s{
    width: 100%;
    height: 100%;
}
.video-panel{
    width: 100%;
    height: 400px;
    position: relative;
}
#subSource{
    width: 100% !important;
    height: 100% !important;
}
#videoSource{
    width:200px;
    height: 200px;
}

</style>
